@font-face {
  font-family: 'push-menu-custom';
  src: url('../font/push-menu-custom.eot?95902514');
  src: url('../font/push-menu-custom.eot?95902514#iefix') format('embedded-opentype'), url('../font/push-menu-custom.woff?95902514') format('woff'), url('../font/push-menu-custom.ttf?95902514') format('truetype'), url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'push-menu-custom';
    src: url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  }
}
*/
/* line 22, /Users/madeleinegagne/Desktop/read-global-header/scss/components/push-menu-custom */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "push-menu-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/madeleinegagne/Desktop/read-global-header/scss/components/push-menu-custom */
.i-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/madeleinegagne/Desktop/read-global-header/scss/components/push-menu-custom */
.i-close:before {
  content: '\e801'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 22, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
html:before, html:after, body:before, body:after {
  content: "";
  background: #00A5B9;
  position: fixed;
  display: block;
  z-index: 100; }

/* line 30, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
html:before {
  height: 10px;
  left: 0;
  right: 0;
  top: 0; }

/* line 36, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
html:after {
  width: 10px;
  top: 0;
  right: 0;
  bottom: 0; }

/* line 42, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
body:before {
  height: 10px;
  right: 0;
  bottom: 0;
  left: 0; }

/* line 48, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
body:after {
  width: 10px;
  top: 0;
  bottom: 0;
  left: 0; }

/* line 58, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }
  /* line 63, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  body.noscript .close-btn, body.noscript .toggle-btn {
    display: none; }

/* line 68, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
header {
  padding: 0 1em;
  position: relative;
  padding-top: 2em;
  padding-bottom: 23em;
  background: url("../img/kids.jpg") no-repeat center center fixed;
  background-size: cover;
  border-left: solid 10px #00A5B9;
  border-right: solid 10px #00A5B9;
  border-top: solid 10px #00A5B9;
  z-index: -99; }

/* line 87, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
main {
  border-left: solid 10px #00A5B9;
  border-right: solid 10px #00A5B9;
  padding: 1em; }

/* line 96, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #0091A5;
  margin-left: 0.25em;
  display: inline;
  font-size: 1.5em; }

/* line 105, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }

/* line 114, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.header-text {
  width: 50%;
  margin-top: 3em; }

/* line 119, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.fat {
  font-weight: 700; }

/* line 123, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.toggle-btn {
  float: right;
  margin-right: 0.5em;
  margin-top: 0.5em; }

/* line 130, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.close-btn {
  float: right;
  clear: both;
  margin-top: 2em; }

/* line 137, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.btn-donate {
  border: solid 3px #00A5B9;
  color: #00A5B9;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  float: right;
  font-size: 1em;
  font-weight: 700;
  margin-right: 0.5em;
  padding: 0.35em; }
  /* line 15, /Users/madeleinegagne/Desktop/read-global-header/scss/mixins */
  .btn-donate:hover {
    border: solid 3px #007d91;
    color: #007d91; }

/* line 146, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.navigation ul {
  margin: 0;
  padding: 0;
  clear: both; }
  /* line 149, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .navigation ul li {
    list-style-type: none;
    display: block;
    padding: 0.5em 0.75em;
    text-align: center;
    position: relative; }
    /* line 155, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
    .navigation ul li a {
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      color: #00A5B9;
      font-weight: 300;
      font-size: 1.5em; }
      /* line 161, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
      .navigation ul li a:hover {
        color: #007d91;
        font-weight: 700; }

/* line 170, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.toggle-btn, .close-btn {
  color: #00A5B9;
  height: 40px;
  width: 40px; }
  /* line 174, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .toggle-btn span, .close-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  /* line 177, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .toggle-btn i, .close-btn i {
    padding: 0.5em; }
    /* line 179, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
    .toggle-btn i:hover, .close-btn i:hover {
      color: #007d91; }
  /* line 183, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .toggle-btn:hover, .close-btn:hover {
    color: #007d91; }

/* line 189, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 99; }
  /* line 195, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .site-wrapper .sliding-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    transition: all 200ms ease-in; }
  /* line 203, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .site-wrapper[data-state="slide-open"] .sliding-canvas {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  /* line 207, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .site-wrapper[data-state="slide-open"] {
    overflow: visible; }

/* line 214, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
.slide-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  min-height: 600px; }

@media only screen and (min-width: 40em) {
  /* line 228, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  h1 {
    font-size: 1.8em; }

  /* line 232, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .btn-donate {
    font-size: 1.2em; }

  /* line 236, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  i {
    font-size: 1.5em; }

  /* line 240, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 99; }
    /* line 246, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
    .site-wrapper .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      transition: all 200ms ease-in; }
    /* line 254, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
    .site-wrapper[data-state="slide-open"] .sliding-canvas {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    /* line 258, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
    .site-wrapper[data-state="slide-open"] {
      overflow: visible; }

  /* line 265, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
  .slide-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
    min-height: 600px; }
 }

/* line 277, /Users/madeleinegagne/Desktop/read-global-header/scss/components/main */
body.noscript .slide-menu {
  position: static;
  right: auto; }
